@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    text-shadow: 2px 2px 4px #000;
}

h2 {
    font-weight: 300;
    line-height: 1.2;
    text-shadow: 2px 2px 4px #000;
}

.main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: url('./maui.jpg')
}

.background-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
}

.background-container > img {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    display: flex;
    justify-content: center;
}

#time {
    font-size: 200%;
    padding: 0;
}

#mer {
    font-size: 80%;
    align-self: flex-end;
    line-height: 1;
    margin-left: .2em;
    padding-bottom: .4em;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;
    background: #FFF;
}
